@{
    Layout = "_AdminLayout";
}
@model DoAnPM_TH_.Models.Product

<style>
    .image-upload {
        border: 1px solid rgba(145, 158, 171, .32);
        position: relative;
        margin-bottom: 35px;
        border-radius: 5px;
    }

        .image-upload input[type=file] {
            width: 100%;
            opacity: 0;
            height: 100px;
            position: relative;
            z-index: 9;
            cursor: pointer;
        }

        .image-upload .image-uploads {
            text-align: center;
            width: 100%;
            padding: 20px 0;
            border-radius: 5px;
            position: absolute;
            top: 0;
        }

</style>

<div class="content">
    <div class="container-fluid">
        <div>
            <h4>Thêm Sản Phẩm</h4>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" asp-for="ProName" class="border-primary form-control" required>
                        <span asp-validation-for="ProName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="d-block">Category</label>
                        <select asp-for="CateId" class="btn border border-primary" required>
                            <option value="">Choose Category</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <span asp-validation-for="CateId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="d-block">Manufacturer</label>
                        <select asp-for="ManId" class="btn border border-primary" required>
                            <option value="">Choose Manufacturer</option>
                            <option value="1">Macbook pro</option>
                            <option value="2">Orange</option>
                        </select>
                        <span asp-validation-for="ManId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label class="d-block">Brand</label>
                        <select asp-for="BrandId" class="btn border border-primary" required>
                            <option value="">Choose Brand</option>
                            <option value="1">Macbook pro</option>
                            <option value="2">Orange</option>
                        </select>
                        <span asp-validation-for="BrandId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Unit</label>
                        <input type="text" asp-for="Unit" class="border-primary form-control" required>
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>SKU</label>
                        <input type="text" asp-for="ProId" class="border-primary form-control" required>
                        <span asp-validation-for="ProId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" asp-for="Quantity" class="border-primary form-control" required>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Price</label>
                        <div class="d-flex">
                            <input type="text" asp-for="Price" class="border-primary form-control" required>
                            <span class="input-group-text" id="basic-addon1">đ</span>
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Support</label>
                        <textarea asp-for="Support" class="form-control" required></textarea>
                        <span asp-validation-for="Support" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Ingredient</label>
                        <textarea asp-for="Ingredient" class="form-control" required></textarea>
                        <span asp-validation-for="Ingredient" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="Descript" class="form-control" required></textarea>
                        <span asp-validation-for="Descript" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Product Image</label>
                        <div class="image-upload">
                            <input type="file" name="proImg" required>
                            <div class="image-uploads">
                                <img src="assets/img/icons/upload.svg" alt="img">
                                <h4>Drag and drop a file to upload</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <a href="@Url.Action("ProductList", "Admin")" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>