html {
  font-family: sans-serif;
  line-height: 1.15;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
} 

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.fw-500 {
    font-weight: 500;
}

header {
    background-image: url('../images/header_desktop.png');
    background-size: cover;
    height: 152px;
    color: white;
}

.header__main .input-field {
    height: 58px;
    width: 600px;
    position: relative;
}

.input-field .btn-search {
    background-color: #c1d0f6;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 6px;
    border-radius: 999px;
    border: 0;
    padding: 0;
}

.input-field .search {
    height: 100%;
    border: 0;
    width: 100%;
    padding: 6px 32px 6px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 34px;
    outline: none;
}

.header__main .cart-button {
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #1250DC;
    border-radius: 42px;
    font-weight: 500;
}

.header__main .login-button {
    font-weight: 500;
}

.header__navigation ul li a {
    color: white;
}

.footer__top {
    height: 144px;
    background-image: url('../images/chan_trang_desktop.png');
    background-size: cover;
}

.footer__main .footer__main-about ul li,
.footer__main .footer__main-cate ul li,
.footer__main .footer__main-contact ul li {
    padding-bottom: 4px;
}
